.p{
background-color:thistle;
border: 5px solid blueviolet;
}
.t{
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px whitesmoke;

}
.pim object img{
    width: 100%;
    height:450px;
} 
.pim{
    margin: 10px;
}
.p p{
    margin: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.b{
    margin-left: 7px;
}