.pf{
    margin-left: 10%;
}
.pf h3{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.ip{
    margin-left: 10px;
    padding-left: 5px;
    height: 30px;
    font-size: 16px;
    width: 50%;
}
.ui{
    margin-left: 10px;
}
.pf textarea{
    resize: none;
    margin-left: 10px;
    height: 450px;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.pb{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 40px;
    width :70px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.ss{
    margin-left: 10px;
    color:#689f38;  
    
}
@media (max-width:680px)
{
    .ip{
        width: 79%;
    }
    .pf textarea{
        width: 79%;
        height:350px ;
    }
}